<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <% if(useSemantic){ %>
    
      <% if(semanticCdn){ %>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
      <% } %>

    <% } %>
    <link rel="stylesheet" href="/styles/app.css">
  </head>
  <body>
    <div id="root">
    </div>
    <script src="/vendor.bundle.js"></script>
    <script src="/bundle.app.js"></script>
  </body>
</html>